@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ede8e0;
  --foreground: #0d0e0a;

  --card: #ede8e0;
  --card-foreground: #0d0e0a;

  --popover: #ede8e0;
  --popover-foreground: #0d0e0a;

  --primary: #582f0e;
  --primary-foreground: #ede8e0;

  --secondary: #7f4f24;
  --secondary-foreground: #ede8e0;

  --muted: #b6ad90;
  --muted-foreground: #343929;

  --accent: #936639;
  --accent-foreground: #ede8e0;

  --destructive: #9f3519;
  --destructive-foreground: #edd8e0;

  --border: #c4cab1;
  --input: #c4cab1;

  --ring: #de7c2b;
}

.dark {
  --background: #0d0e0a;
  --foreground: #ede8e0;

  --card: #0d0e0a;
  --card-foreground: #ede8e0;

  --popover: #0d0e0a;
  --popover-foreground: #ede8e0;

  --primary: #de7c2b;
  --primary-foreground: #0d0e0a;

  --secondary: #b57033;
  --secondary-foreground: #0d0e0a;

  --muted: #343929;
  --muted-foreground: #b6ad90;

  --accent: #e0b793;
  --accent-foreground: #0d0e0a;

  --destructive: #de2b2b;
  --destructive-foreground: #0d0e0a;

  --border: #343929;
  --input: #343929;

  --ring: #7f4f24;
}
